<h1><%= @word %></h1>

<div class="container">
  <form action="scrabbleword">
  <label for="sword">Scrabble word</label><br>
  <input type="text" id="sword" name="sword" placeholder="Enter your scrabble word"><br>
</div>
